:root {
  --background-color: #f6f3eb;
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Oranienbaum", serif;
  --primary-color: #cc9d58;
}
body {
  background: var(--background-color);
  background-image: url(images/image-hero.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30%;
}
h1 {
  font-family: var(--secondary-font-family);
  font-size: 250px;
  line-height: 200px;
}
h2 {
  font-size: 31px;
  line-height: 41.85px;
  font-family: var(--primary-font-family);
}

.hero {
  text-align: left;
  padding: 160px 60px;
}
.navbar-brand {
  font-family: "Yeseva One", cursive;
  color: var(--primary-color);
  font-size: 40px;
  line-height: 32px;
}

.nav-item a {
  font-family: var(--primary-font-family);
  color: #757575;
  font-weight: bold;
  font-size: 20px;
  float: right;
}

.btn-call-to-action {
  background: var(--background-color);
  padding: 15px 30px;
  font-size: 35px;
  font-family: var(--primary-font-family);
  border-radius: 28px;
  border: 1px solid black;
  width: 269px;
  height: 55px;
  left: 253px;
  top: 853px;
  line-height: 20px;
  margin-top: 60px;
}
.btn-call-to-action:hover {
  background: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
}
footer {
  color: var(--primary-color);
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}
.instagram-icon {
  margin-right: 20px;
  margin-left: 20px;
}
.behance-icon {
  margin-right: 20px;
  margin-left: 20px;
}
.pinterest-icon {
  margin-right: 20px;
  margin-left: 20px;
}
